<!DOCTYPE html >
<html lang="zh-cmn-Hans">

<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta name="renderer" content="webkit"> <!--360浏览器就会在读取到这个标签后，立即切换对应的内核。并将这个行为应用于这个二级域名下所有网址。-->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom meta tags -->
    <meta name="keywords" content="易煤网">
    <meta name="description" content="易煤网">
    <meta name="author" content="JinWYP">


    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--<link type="image/x-icon" rel="shortcut icon" href="<%= staticPath %>/images/favicon.ico" />-->


    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" crossorigin="anonymous">-->

    <!-- Web site css -->
    <!--<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">-->
    <link rel="stylesheet" href="<%= staticPath %>/css/stylesheets/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="<%= staticPath %>/css/stylesheets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="<%= staticPath %>/css/stylesheets/page/global.css">
    <link rel="stylesheet" href="<%= staticPath %>/css/stylesheets/page/admin.css">


    <title> 管理首页 </title>

</head>


<body>


<div class="wrapper">
    <header class="header">
        <span class="logo">logo</span>
        <i class="fa fa-navicon tabChange" id="tabChange"></i>
        <div class="headRight">
            <span>登录</span>
            <span>注册</span>
            <span>******,您好</span>
        </div>
    </header>


    <div class="aside">


        <aside class="sideBar" id="nav" role="tabList">


            <div class="card pt-4">
                <div role="tab" id="headingOne" class="active">
                    <h6 class="mb-0 ml-4">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <em class="fa fa-magic mr-2"></em>
                            <span>Dashboard</span>
                        </a>
                    </h6>
                </div>
                <div id="collapseOne" class="subNav collapse show" role="tabPanel" aria-labelledby="headingOne" data-parent="#nav">
                    <ul>
                        <li>
                            <a href="#">Dashboard v1</a>
                        </li>
                        <li>
                            <a href="#">Dashboard v2</a>
                        </li>
                        <li>
                            <a href="#">Dashboard v3</a>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="card">
                <div role="tab" id="headingOne">
                    <h6 class="mb-0 ml-4">
                        <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <em class="fa fa-key mr-2"></em>
                            <span>Widgets</span>
                        </a>
                    </h6>
                </div>
                <div id="collapseTwo" class="subNav collapse" role="tabPanel" aria-labelledby="headingTwo" data-parent="#nav">
                    <ul>
                        <li>
                            <a href="#">Widgets v1</a>
                        </li>
                        <li>
                            <a href="#">Widgets v2</a>
                        </li>
                        <li>
                            <a href="#">Widgets v3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>




        <aside class="sideBarIco">
            <ul>
                <li class="nav-header active">
                    <em class="fa fa-magic"></em>
                    <ul class="subNav">
                        <li><h6>Dashboard</h6></li>
                        <li><a href="">Dashboard v1</a></li>
                        <li><a href="">Dashboard v2</a></li>
                        <li><a href="">Dashboard v3</a></li>
                    </ul>
                </li>
                <li class="nav-header">
                    <em class="fa fa-key"></em>
                    <ul class="subNav">
                        <li><h6>Widgets</h6></li>
                        <li><a href="">Widgets v1</a></li>
                        <li><a href="">Widgets v2</a></li>
                        <li><a href="">Widgets v3</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
    </div>

</div>























<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script type="text/javascript" src="<%= staticPath %>/js/jquery3/jquery.min.js"></script>
<script type="text/javascript" src="<%= staticPath %>/js/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="<%= staticPath %>/js/bootstrap4/bootstrap.min.js"></script>

<script type="text/javascript" src="<%= staticPath %>/js/manifest.bundle.js"></script>
<script type="text/javascript" src="<%= staticPath %>/js/polyfills.bundle.js"></script>
<script type="text/javascript" src="<%= staticPath %>/js/vendor.bundle.js"></script>

<script type="text/javascript">


    $( document ).ready(function() {

        $( "#logout" ).click(function(event) {

            event.preventDefault();

            $.ajax({
                url : '/api/user/logout',

                type: "POST",
                contentType: "application/json; charset=utf-8",

                dataType : "json",
            })
                .done(function(result) {
                    console.log('Logout success', result)
                })
                .fail(function(xhr, status, errorThrown) {
                    console.error('Logout error', errorThrown)
                })
                .always(function(xhr, status) {
//                alert( "complete" );
                });

        });

        $("#tabChange").click(function () {
            if($(".sideBarIco").css('display') === 'none') {
                $(".sideBarIco").css('display','block');
                $(".aside").animate({width:'65px'});
                $(".sideBar").css('display','none');
            }else {
                $(".sideBarIco").css('display','none');
                $(".aside").animate({width:'220px'});
                $(".sideBar").css('display','block');
            }

        })


    });

</script>
<!--<script type="text/javascript" src="<%= staticPath %>/js/home.bundle.js"></script>-->

</body>

</html>

