<%- include ./includehead/doctype %>
<head>
    <%- include ./includehead/head %>

</head>
<body>
<h1>Hello, world!</h1>


<div>

    <p>request ip is: <%= ip %></p>
    <p>Time now is: <%= timeNow %></p>

    <ul>
        <% users.forEach(function (user) {%>
        <li><%= user.name %></li>
        <% })%>
    </ul>

</div>



</body>
</html>