<%- include ./includehead/doctype %>
<head>
    <%- include ./includehead/head %>

    <base href="/web/home">

</head>
<body>

<%- include ./layout/header.ejs %>



    <app-user-home>加载中...</app-user-home>











<%- include ./includehead/bottomscript.ejs %>

<script type="text/javascript" src="<%= staticPath %>/js/home.bundle.js"></script>

</body>
</html>

