<%- include ./includehead/doctype %>
<head>
    <%- include ./includehead/head %>


</head>
<body>

<%- include ./layout/header.ejs %>


<div class="container-fluid mainbox">

    <div class="row">
        <h1>用户中心</h1>
        <p class="lead"><%= user.username %></p>

        <ul class="list-group">
            <li class="list-group-item"><%= user._id %></li>
            <li class="list-group-item"><%= user.username %></li>
            <li class="list-group-item"><%= user.mobilePhone %></li>
        </ul>

    </div>

    <app-root>加载中...</app-root>
</div>











<%- include ./includehead/bottomscript.ejs %>

<script type="text/javascript" src="<%= staticPath %>/js/home.bundle.js"></script>

</body>
</html>

