<%- include ./includehead/doctype %>
<head>
    <%- include ./includehead/head %>


</head>
<body>

<%- include ./layout/header.ejs %>


<div class="container-fluid mainbox">

    <div class="starter-template">
        <h1>首页</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        <p class="lead">
            ZUIJINDEZONGSHIZHIDOUZAIWUSHISIWANYIPAIHUAI QISHIJINNIANYIJINGJIBENZHANGBUDONGLE
            MASHANGGUFENZHIYINHANGZUOWANJIAGEJIUYAOZENGFARONGZI QIAFENGNIANDIJINNIAN JIUJIESULE

            最近的总市值都在五十四万亿徘徊，其实今年已经基本涨不动了，马上股份制银行做完价格就要增发融资 恰逢年底今年就结束了</p>
    </div>

</div>











<%- include ./includehead/bottomscript.ejs %>

<script type="text/javascript" src="<%= staticPath %>/js/index.bundle.js"></script>

</body>
</html>

