<%- include ./includehead/doctype %>
<head>
    <%- include ./includehead/head %>


</head>
<body>

<%- include ./layout/header.ejs %>


<div class="container-fluid mainbox">
    <app-register>加载中...</app-register>
</div>





<%- include ./includehead/bottomscript.ejs %>

<script type="text/javascript" src="<%= staticPath %>/js/register.bundle.js"></script>

</body>
</html>